{% extends "learning_logs/base.html" %}

{% block header %}
    <h2>Meus tópicos de estudo</h2>
{% endblock header %}

{% block content %}
    <ul>
        {% for topic in topics %}
            <li>
                <h3>
                    <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
                </h3>
            </li>
            {% empty %}
                <li>Não existe tópicos</li>
        {% endfor %}
    </ul>

    <h3>
        <a href="{% url 'learning_logs:new_topic' %}">Adicionar novos tópicos</a>
    </h3>
{% endblock content %}